<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Cars</title>
</head>
<body>
  <h1>Inventory</h1>
  <ul>
    <% cars.forEach(car => { %>
      <li>
        <form 
          action="/cars/<%= car._id %>?_method=DELETE"
          class="delete-form"
          method="POST"
        >
          <button type="submit">X</button>
      </form>
        <a href="/cars/<%= car._id %>"><%= car.make %> - <%= car.model %></a>
        : 
        <%= car.detailed ? 'Clean' : 'Run through wash' %>
      </li>
    <% }) %>
  </ul>
  <a href="/cars/new">Add Vehicle</a>
</body>
</html>